{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista das vendas</h1>

    <a href="{{ path('sale_new') }}" class="btn btn-success">Adicionar nova venda</a>

    <br/><br/>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Data</th>
            <th>Produto</th>
            <th>Cartão?</th>
                <th>Valor pago</th>
                <th>Troco</th>
                <th>Total</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set returnPrice = 0 %}
        {% for sale in sales %}
            <tr>
            <td>{% if sale.createdAt %}{{ sale.createdAt|date('d/m/Y H:i') }}{% endif %}</td>
            <td>{{ sale.product.name }} <b>({{ sale.quantity }} qtd)</b></td>
                {% set total = total + sale.value %}
                {% set returnPrice = returnPrice + sale.returnPrice %}
                <td>{% if sale.hasCart %}sim{% else %}não{% endif %}</td>
                <td>R$ {{ sale.value|number_format(2, '.', ',') }}</td>
                <td>R$ {{ sale.returnPrice|number_format(2, '.', ',') }}</td>
                <td>R$ {{ sale.price|number_format(2, '.', ',') }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('sale_show', { 'id': sale.id }) }}">[+] detalhes</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
        <td colspan="3"><b>TOTAL:</b></td>
        <td><b>R$ {{ total|number_format(2, '.', ',') }}</b></td>
        <td><b>R$ {{ returnPrice|number_format(2, '.', ',') }}</b></td>
        <td><b>R$ {{ (total-returnPrice)|number_format(2, '.', ',') }}</b></td>
        <td></td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('sale_new') }}" class="btn btn-success">Adicionar nova venda</a>
{% endblock %}
