{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sale list</h1>

    <table>
        <thead>
            <tr>
            <th>Data</th>
            <th>Produto</th>
                <th>Qtd</th>
                <th>Valor dado</th>
                <th>Troco</th>
                <th>Valor total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set returnPrice = 0 %}
        {% for sale in sales %}
            <tr>
            <td>{% if sale.createdAt %}{{ sale.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ sale.product.name }}</td>
                <td>{{ sale.quantity }}</td>
                {% set total = total + sale.value %}
                {% set returnPrice = returnPrice + sale.returnPrice %}
                <td>{{ sale.value|number_format(2, '.', ',') }}</td>
                <td>{{ sale.returnPrice|number_format(2, '.', ',') }}</td>
                <td>{{ sale.price|number_format(2, '.', ',') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sale_show', { 'id': sale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sale_edit', { 'id': sale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <tr>
        <td colspan="6">Total:</td>
        <td colspan="2">{{ total|number_format(2, '.', ',') }}-{{ returnPrice|number_format(2, '.', ',') }} = {{ (total-returnPrice)|number_format(2, '.', ',') }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
