{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cadastrar nova venda</h1>

    {{ form_start(form) }}

        <div class="form-group">
          {{ form_label(form.product) }}
          {{ form_widget(form.product) }}
        </div>

        <div class="form-group">
          {{ form_label(form.quantity) }}
          {{ form_widget(form.quantity) }}
        </div>

        <div class="form-group">
          {{ form_label(form.value) }}
          {{ form_widget(form.value) }}
        </div>

        <div class="form-group">
          {{ form_label(form.hasCart) }}
          {{ form_widget(form.hasCart) }}
        </div>

        <div class="form-group">
          {{ form_label(form.cartType) }}
          {{ form_widget(form.cartType) }}
        </div>

        <input type="submit" value="Cadastrar" class="btn btn-success" />

    {{ form_end(form) }}

    <br/><br/>
    <a href="{{ path('sale_index') }}" class="btn btn-primary"><< Voltar</a>
{% endblock %}
