{% extends 'base.html.twig' %}

{% block body %}
    <h1>Venda cadastrada</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Produto</th>
            <td>{{ sale.product.name }}</td>
        </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ sale.quantity }}</td>
            </tr>
            <tr>
                <th>Valor total</th>
                <td>R$ {{ sale.price|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Valor pago</th>
                <td>R$ {{ sale.value|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Troco</th>
                <td>R$ {{ sale.returnPrice|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if sale.updatedAt %}{{ sale.updatedAt|date('d/m/Y H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sale_index') }}" class="btn btn-success">listar todas</a>

    <a href="{{ path('sale_edit', { 'id': sale.id }) }}" class="btn btn-primary">editar</a>

    <Br/><Br/>

    {{ form_start(delete_form) }}
        <input type="submit" value="Deletar" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
